<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
		<add name="MyDatabaseConnectionString"
    connectionString="Server=SHILPA-PC\SQLEXPRESS19;Database=StudioManagement;User Id=sa;Password=Conestoga1;Trusted_Connection=True;"
    providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
